__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
Lib/
Scripts/
pyvenv.cfg
*.sqlite3
*.db
staticfiles/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
.env
.venv
tunisie_telecom/Lib/
tunisie_telecom/Scripts/
tunisie_telecom/pyvenv.cfg
